@charset "utf-8";




#mainimg {
	width: 100%;
  height: 100vh;
  height: 100dvh;
	position: fixed;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: -1;
}


.slide {
	width: 100%; height: 100%;
	position: absolute; right: 0px; top: 0px;
	display: flex;
	align-items: center;
	opacity: 0;
	transform: scale(1.0);
	transition: opacity 1s, transform 0s 1s;  
}


.slide.active {
	opacity: 1; 
	transform: scale(1.1);  
	transition: opacity 1s, transform 5s linear;  
}


.slide1 {
	background: url('../images/1.jpg') no-repeat center center / cover;	
}


.slide2 {
	background: url('../images/2.jpg') no-repeat center center / cover;	
}


.slide3 {
	background: url('../images/3.jpg') no-repeat center center / cover;	
}


	
	@media (orientation: portrait) {
	
	
	.slide1 {
		background-image: url('../images/1.jpg');	
	}

	
	.slide2 {
		background-image: url('../images/2.jpg');	
	}

	
	.slide3 {
		background-image: url('../images/3.jpg');	
	}

	}
